*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-size: 12px;
    margin: 0;
    font-family:  Arial, Helvetica, sans-serif;
}
body h1{
    font-size:30px;
    font-weight: bold;
    text-align: center;
    padding:0.8em;
    font-family: 'Montserrat Alternates'; 
}
body h2{
    font-family: 'Montserrat Alternates'; 
}
body A {
    font-family: 'Montserrat Alternates'; 
    color: white;
    text-decoration: none;
}
body p {
    font-family: 'Montserrat Alternates';
    color: white;
    text-decoration: none;
    font-size: 18px;
}
img.sliderimg{
    width:100%
}
span.bolder{
    font-weight: bold;
}
.perfil {
    background-color: #1e3054;
    color:#dbdbdb;
    text-align: center;
    padding-bottom: 2em;
}.perfil h1{
    color:#FFFFFF;
    
}.perfil h2{
    color:#FFFFFF;
    font-size:18px;
    font-weight: lighter;
    margin-top: 1em;
    line-height:1em
}article.perfil {
    padding-left:10em;
    display: inline-block;
}
.teams {
    background-color: #dbdbdb;
    color:#1e3054;
    text-align: center;
    padding-bottom: 0em;
}.teams img{
    border-radius: 100%;
}.teams h1{
    color:#1e3054;
}.teams h2{
    color:#1e3054;
    font-size:14px;
    font-weight: bold;

}article.agent {
    display: inline-block;
    margin-bottom: 1em;
}
.porque {
    background-color: #FFFFFF;
    color:#dbdbdb;
    text-align: center;
}.porque h1{
    margin-top: 1em;
    font-size: 39px;
    font-weight: bolder;
    color: rgba(40, 58, 98, 1);
}
.porque h2{
    text-align: left;
    font-size: 19px;
    font-weight: lighter;
    color: white;
    border-left: 3px solid #FFFFFF;
    padding: 0.5em;
    margin-top: 2em;
    margin-left: 7em;
    margin-right: 7em;
}
.porque img.globo{
    margin: auto;
    width:40px;
    padding-top: 3em;
    vertical-align: middle;
}
.porque img.bottom{
    margin: auto;
    
    padding-top: 3em;
}.propuesta {
    background-color: #FFFFFF;
    vertical-align: middle;
}.propuesta h1{
    font-size: 39px;
    font-weight: bolder;
    color: rgba(40, 58, 98, 1);
}.propuesta h2{
    text-align: center;
    font-size: 19px;
    font-weight: lighter;
    color: #FFFFFF;
}
article.propuesta {
    display: inline-block;
}
.postulate{
    padding-top: 2em;
    background-color: #d51e30;
    color:white;
    text-align: center;
    padding-bottom: 2em;
}
.postulate h1 {
    font-size:30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat Alternates'; 
    color :white;
    padding-bottom: 0em;
}
.postulate h3 {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    font-family: 'Montserrat Alternates'; 
    color :white
}
.postulate label{
    font-size: 13px;
    font-weight: lighter;
    font-family: 'Montserrat Alternates'; 
    color :white;
    
    padding-top: 3em;
}
.postulate input{
    background-color: #d51e30;
    border: none;
    border-bottom: 2px solid red;
    width: 300px;
    color: white;
}
.postulate input.large{
    background-color: #d51e30;
    border: none;
    border-bottom: 2px solid red;
    color: white;
}
.postulate input:focus {
    outline: none;
    color: white;
  }
.postulate input[type=button], input[type=submit], input[type=reset] {
    margin-top: 1em;
    background-color: #d51e30;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat Alternates';
    cursor: pointer;
}
.postulate ::placeholder{
    color: brown;
}
footer {
    background: #d51e30;
}
footer h1 {
    font-size:30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat Alternates'; 
    color :white;
    padding-bottom: 0em;
}
footer h3 {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    font-family: 'Montserrat Alternates'; 
    color :white
}
footer p {
    color: white;
    text-decoration: none;
    line-height: 1em;
    font-size: 18px;
}
footer img{
    margin-bottom: 1em;
}
footer span.bolder{
    font-weight: bold;
}
footer span.legal{
    font-size:10px;line-height:0em
}
footer span.last{
    font-weight: bold;
    font-size: 14px;
}
footer div.encontranos{
    margin-top: 0em; margin-bottom: 0em; margin-left:10em;margin-right:10em
}
footer div.form{
    margin-top: 2em; margin-bottom: 2em; margin-left:20em;margin-right:20em
}
